<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="header-logo">
    <%= link_to("casualTrip","/")%><!--トップページへのリンク-->
  </div>
  
  <ul class="header-menus">
    <li>
     <%= link_to("我々のサービス紹介へ","/about")%> <!--サービス紹介ページへのリンク-->
    </li>
  </ul>
  <li class="posts">

     <%= link_to 'ツアー一覧へ', posts_path %>
  </li>
  <li class="new">
      <%= link_to "新規投稿", new_post_path %> <!--新規投稿へのリンク-->
  </li>
  <li class="users-index">
      <%= link_to "ガイド一覧", users_path %>
  </li>
  <li class="users-new">
      <%= link_to("新規登録","/signup")%> <!--ユーザー新規登録へのリンク-->
  </li>
  
  
<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

</header>
<%= yield %>

</body>
</html>
